{% extends 'base.html.twig' %}
{% block title 'Editer' %}
{% block body %}

    <div class="container mt-4">
        <h1>Editer le bien</h1>
        {{ include ('Admin/property/_form.html.twig',{button: 'Editer'} ) }}
    </div>

{% endblock %}

